@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@media (min-width: 0px) /* xs */ {
  .margins {
    width:90vw;
  }
  .menu-toolbar-xl {
    display: none;
  }

  body {
    font-size: 10px;
  }

  .menu-toolbar-xs {
    display: flex;
    background-color: #262626;
  }
}

@media (min-width: 576px) /* sm */ {
  .margins {
    width: 476px;
  }

 

  .menu-toolbar-xl {
    display: none;
  }
  .menu-toolbar-xs {
    display: flex;
    background-color: #262626;
  }
}

@media (min-width: 768px) /* md */ {
  .margins {
    width: 90vw;
  }
  body {
    font-size: 12px;
  }

}

@media (min-width: 992px) /* lg */ {
 
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) /* xl */ {
 
  .menu-toolbar-xl {
    display: flex;
    background: transparent;
  }
  .menu-toolbar-xs {
    display: none;
  }
}
@media (min-width: 1400px) /* xxl */ {
  .margins {
    width:85vw;
  }
}

:root {
  --primary: #d3d925;
  --secondary: #d9526b;
  --backgrund: #262626;
  --whity: #ebe8dc;
}

p
{
    font-size: 1em;
}

html {
  scroll-behavior:smooth;
  overflow-x: hidden;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h1, h2 , h3 , h4 , h5 {
  color: var(--backgrund);
}

h1{
  font-size: 5em;
}
h2
{
  font-size:3em;
}

header {
  width: 100%;
  overflow: hidden;
  z-index: 999;
  position: fixed;
  background-color: transparent;
}

button
{
  
    padding: .8em 2em;
    color: var(--secondary);
    border-radius: 5px;
   
    
    font-weight: 600 ;
    background:transparent;
    border: #d9526b solid 3px;
    cursor: pointer;
    transition: all 0.5s ease;
     box-shadow:
     7px 7px 10px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  
}


.background{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -999;

}

.margins
{
  margin-left: auto;
  margin-right: auto;
}

.header-bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--backgrund);
  transition: top 0.3s ;
  z-index: -1;
}
.menu-background 
{
    height: 100vh;
    display:flex;
    width: 100%;


}
.sombra-background
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%; /* Ajusta la altura */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    pointer-events: none;
}
header ul li  a{
transition: underline 2s ease-in-out;
}

header ul li  a:hover{
  text-decoration: underline var(--secondary);
}
.menu-toolbar-xl {
  justify-content: center;
  width: 100%;
  position: relative;
}

.menu-xl-logo img
{
  width: 14em;
  cursor: pointer;

}

.menu-toolbar-xl ul {
  align-items: flex-start;
  display: flex;
  padding-left: 0;
}
.menu-toolbar-xl ul li {
  display: inline-block;
}

.menu-toolbar-xl ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.menu-toolbar-xl .options-left,
.menu-toolbar-xl .options-right {
  margin-top: 1em;
}

.menu-toolbar-xl .options-left ul li,
.menu-toolbar-xl .options-right ul li {
  margin-top: 1em;
  display: inline-block;
  list-style: none;
  margin: 0 2em;
}

/* xs */

.menu-toolbar-xs {
  height: 70px;
}

#toggleMenu {
  position: fixed;
  right: 20px;
  background-color: var(--backgrund);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}

.menu {
  position: fixed;
  top: 0;
  right: -300px; /* Oculto fuera de la vista */
  width: 300px;
  height: 100%;
  background-color: var(--backgrund);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.menu.open {
  right: 0; /* Muestra el menú */
}

.menu #closeMenu {
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.menu ul {
  list-style-type: none;
  padding: 60px 20px;
  margin: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: #d9526b;
}
/* animaciones */

header.active .header-bg {
  top: 0;
}

header.inactive .header-bg {
  top: -100%;
}






.datos-container
{
    background-color: var(--secondary);
    width: 100%;
    color: white ;
    padding: 2em;
}

.footer-contacto-section
{
    padding: 4em 0;
    background-color: var(--primary);
    text-align: center;
}

.footer-contacto-section button
{
    margin-left: auto;
    margin-right: auto;
    color: var(--backgrund);
    border-color: var(--backgrund);
}


footer .footer-section
{
    background-color: var(--backgrund);
    padding: 7em 0;
}


footer .footer-section p, footer .footer-section li, footer .footer-section label,footer .footer-section h4
{
    color: white;
}

